@model MusicShop.Models.Zanr

@{
    ViewData["Title"] = "Delete";
}


<h3>Jeste li sigurni da želite obrisati ovaj zapis?</h3>
<div>
    <h4>@Html.DisplayName(Model.Ime)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ime)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SifZanra" />
        <input type="submit" value="Obriši" class="btn btn-danger" /> |
        <a asp-action="Index">Povratak na listu žanrova</a>
    </form>
</div>
