@model MusicShop.Models.Artikl

@{
    ViewData["Title"] = "Edit";
}


<h4>Uredi podatke:</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SifArtikla" />
            <div class="form-group">
                <label asp-for="Ime" class="control-label"></label>
                <input asp-for="Ime" class="form-control" />
                <span asp-validation-for="Ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SifVrste" class="control-label">Vrsta artikla</label>
                <select asp-for="SifVrste" class="form-control" asp-items="ViewBag.SifVrste"></select>
                <span asp-validation-for="SifVrste" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Godina" class="control-label"></label>
                <input asp-for="Godina" class="form-control" />
                <span asp-validation-for="Godina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cijena" class="control-label"></label>
                <input asp-for="Cijena" class="form-control" />
                <span asp-validation-for="Cijena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Spremi" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Vrati se na popis svih artikala</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
